@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-sans: var(--font-inter);
  --font-thai: var(--font-prompt);
}

/* Enforce Dark Theme Variables at Root with GOLD/BLACK Theme */
:root {
  /* Black Background */
  --background: oklch(0.129 0.042 264.695);
  /* Gold/White Text */
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.985 0 0);

  /* Gold Color for Primary */
  --primary: oklch(0.795 0.184 86.047);
  /* Gold-ish */
  --primary-foreground: oklch(0.129 0.042 264.695);

  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);

  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);

  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.795 0.184 86.047);
  /* Gold Ring */

  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.animate-shine {
  animation: shine 0.75s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}